@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

/* ============================= */
/* HIDE SCROLLBAR (ALL BROWSERS) */
/* ============================= */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ============================= */
/* PAGINATION DOTS               */
/* ============================= */
.pagination-dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 8px;
}

.pagination-dots span {
  width: 6px;
  height: 6px;
  background: #d1d5db; /* gray-300 */
  border-radius: 9999px;
}

.pagination-dots span.active {
  background: #f97316; /* orange-500 */
}



/* 🔒 IMPORTANT: Remove browser password eye icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
}
